*{
    padding: 0px ;
    margin: 0px;
}
body{
    width: 100%;
    height: auto;
    background-image: linear-gradient(180deg,rbg(0,132,86),white);
}
#headervid{
    display: none;
}
#containerheader{
    width: 100vw;
    height: 10vh;
    background-image: url(/Asset/Login-Images/LogIn-Image-2.jpg);
    background-size: 100% 100%;
    /* filter: grayscale(100%); */
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
    box-shadow:0px 5px 5px black ;
}
#containerheader .pagename{
    position: absolute;
    z-index: 2;
    font-size: 10vw;
    letter-spacing: 3vw;
    font-family: "jersey 10", sans-serif;
    color: white;
    text-shadow: 2px 2px 2px black;
}